@page "/"
@attribute [Authorize(Roles = "user")]

<PageTitle>Home</PageTitle>


<div class="row">
    <div class="card d-flex align-items-center justify-content-center" style="height: 50vh;">
        <div class="card justify-content-center" style="max-width:30rem;">
            <div class="card-header">
                <h2 class="text-center">Next Workout</h2>
            </div>
        </div>
    </div>
</div>
