@page "/"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>MudCow - Dein Krafttraining Begleiter</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-8">
    <MudGrid>
        <MudItem xs="12" Class="d-flex justify-center">
            <MudPaper Elevation="3" Class="pa-8 rounded-lg" Style="max-width: 800px;">
                <MudText Typo="Typo.h3" Color="Color.Primary" Align="Align.Center" Class="mb-4">Willkommen bei MudCow V2</MudText>
                <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="mb-6">Dein persönlicher Begleiter für effektives Krafttraining</MudText>
                
                <MudDivider Class="my-6" />
                
                <MudGrid>
                    <MudItem xs="12" sm="4">
                        <MudPaper Class="pa-4 d-flex flex-column align-center" Elevation="0">
                            <MudIcon Icon="@Icons.Material.Filled.FitnessCenter" Color="Color.Primary" Size="Size.Large" Class="mb-3" />
                            <MudText Typo="Typo.h6" Align="Align.Center">Trainingsplan</MudText>
                            <MudText Typo="Typo.body2" Align="Align.Center">Verfolge deinen strukturierten Trainingsplan und erreiche deine Ziele</MudText>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12" sm="4">
                        <MudPaper Class="pa-4 d-flex flex-column align-center" Elevation="0">
                            <MudIcon Icon="@Icons.Material.Filled.ShowChart" Color="Color.Primary" Size="Size.Large" Class="mb-3" />
                            <MudText Typo="Typo.h6" Align="Align.Center">Fortschritt</MudText>
                            <MudText Typo="Typo.body2" Align="Align.Center">Beobachte deine Entwicklung und visualisiere deine Erfolge</MudText>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12" sm="4">
                        <MudPaper Class="pa-4 d-flex flex-column align-center" Elevation="0">
                            <MudIcon Icon="@Icons.Material.Filled.Settings" Color="Color.Primary" Size="Size.Large" Class="mb-3" />
                            <MudText Typo="Typo.h6" Align="Align.Center">Anpassbar</MudText>
                            <MudText Typo="Typo.body2" Align="Align.Center">Passe dein Training an deine individuellen Bedürfnisse an</MudText>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
                
                <MudDivider Class="my-6" />
                
                <MudText Typo="Typo.h5" Class="mb-4" Align="Align.Center">Starte dein Training jetzt</MudText>
                <div class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" 
                              Color="Color.Primary" 
                              Size="Size.Large"
                              StartIcon="@Icons.Material.Filled.PlayArrow"
                              Href="/Workout/next-workout"
                              Class="px-8">
                        Nächstes Training starten
                    </MudButton>
                </div>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

<MudPaper Class="pa-8 mt-8" Elevation="0">
    <MudText Typo="Typo.h5" Align="Align.Center" Class="mb-4">Deine aktuellen Statistiken</MudText>
    <MudGrid Justify="Justify.Center" Class="mt-4">
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="2" Class="pa-4 rounded-lg">
                <MudText Typo="Typo.h6" Align="Align.Center">Trainingseinheiten</MudText>
                <MudText Typo="Typo.h3" Align="Align.Center" Color="Color.Primary">12</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="2" Class="pa-4 rounded-lg">
                <MudText Typo="Typo.h6" Align="Align.Center">Gewichtserhöhungen</MudText>
                <MudText Typo="Typo.h3" Align="Align.Center" Color="Color.Success">8</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="2" Class="pa-4 rounded-lg">
                <MudText Typo="Typo.h6" Align="Align.Center">Bankdrücken Max</MudText>
                <MudText Typo="Typo.h3" Align="Align.Center" Color="Color.Secondary">85 kg</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudPaper Elevation="2" Class="pa-4 rounded-lg">
                <MudText Typo="Typo.h6" Align="Align.Center">Kniebeugen Max</MudText>
                <MudText Typo="Typo.h3" Align="Align.Center" Color="Color.Secondary">120 kg</MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudPaper>