<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MCPowerlifting</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<AuthorizeView>
    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Workout
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/create-program">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Create Program
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="#">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> History
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="#">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Progress
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="#">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> User
                </NavLink>
            </div>

            
        </nav>
    </div>
</AuthorizeView>